.table{
  border-style: solid;
  border-color: #000044;
  color:white;
  border-width:20px 20px 5px 20px;
  width: max(800px, 60vw);
  font-size: calc(34px - 1vw);
  margin:40px auto;
  border-collapse: collapse;
}
td{
  border:2px solid #000044 ;
  padding: 15px;
}
.topRow{
  background-color: #000044;
  color: #3a9de0;
}
.firstCol{
  color:#ff3b58;
}
.variant1{
  background-color: #185875;
}
.variant2{
  background-color: #323c50;
}
